@font-face {
    font-family: 'Lato'; font-style: normal; font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../resources/Lato400.woff) format('woff'); }
@font-face {
    font-family: 'Lato'; font-style: normal; font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../resources/Lato700.woff) format('woff'); }

html, body { margin: 0; padding: 0; height: 100%; width: 100%; box-sizing: border-box; overflow: hidden; }
div { box-sizing: border-box; margin: 0; padding: 0; }
body, input, button, select, option { font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; }
a, input, textarea, button, select, .button, .ctbutton, .hdbutton, tr, .webr-planitem, .webr-feeditem, .webr-topbar span {
    -webkit-transition: all .25s ease-in; transition: all .25s ease-in; text-decoration: none; }
input, select { padding: 5px; }
input:focus, select:focus { outline: none; }
button, .button { outline: 0 none; border: none; margin: 6px 0 3px;
    padding: 6px 18px; border-radius: 2px; text-align: center; cursor: pointer; text-transform: uppercase }
button:focus, .button:focus { outline: none }
.button, .ctbutton { cursor: pointer; }
.hint { cursor: help; }
.required:after { content: ' *' }
.webr-clearfix { clear: both; }

.webr-window { height: 100%; width: 100%; position: absolute; border: 2px solid #3c3f41; }
.webr-topbar { top: 0; left: 0; height: 18px; width: 100%; -webkit-app-region: drag; background-color: #3c3f41; -webkit-font-smoothing: antialiased; cursor: move; z-index: 10; }
.webr-topbar span { display: block; float: right; margin: -5px 5px 0 0; color: white; height: 18px; width: 25px; text-align: center; vertical-align: middle; line-height: 18px; border-radius: 3px; -webkit-app-region: no-drag; cursor: default; opacity: 0; }
.webr-topbar span:hover { background: #eee; color: #3c3f41; }
.webr-topbar:hover span { opacity: 1; }

.webr-content { display: flex; position: absolute; top: 18px; bottom: 0; left: 0; right: 0; }
.webr-sidebar { flex: 0 0.5 300px; padding: 12px 7px; }
.webr-sidebar-title { font-weight: bold; margin-bottom: 9px; padding: 5px 0 0 10px; }
.webr-planlist { padding-bottom: 18px; }
.webr-feeditem, .webr-planitem { position: relative; padding: 4px 4px 4px 10px; border-radius: 4px; }
.webr-feeditem-saved { font-weight: bold; }
.webr-feeditem a, .webr-planitem a { display: inline-block; width: 90%; }
.webr-feeditem-unread, .webr-planitem-unread { position: absolute; top: 0; right: 0; border-radius: 2px; padding: 2px; font-weight: bold; z-index: 3;  margin: 1px 5px 0 }
.webr-sidebar-controls { padding: 13px 10px; font-size: 21px; }
.webr-sidebar-controls div { margin-right: 10px; }

.webr-mainpage { flex: 1 0.5 500px; display: flex; flex-direction: column; }
.webr-head-controls { flex: 0 0 40px; position: relative; vertical-align: bottom }
.webr-head-title { position: absolute; font-size: 19px; font-weight: bold; bottom: 0; padding: 0 0 6px 6px; }
.webr-head-buttons { display: none; position: absolute; bottom: 0; right: 0; padding: 0 6px 4px 0; font-size: 23px; }
.webr-head-buttons .hdbutton { margin-right: 10px; cursor: pointer; }

.webr-maintextarea { flex: 1 0.6 400px; padding: 15px 9px; position: relative; overflow: hidden; }
.webr-maintext { font-size: 15px; font-family: 'Lato', sans-serif; }
.webr-maintextitem-header { margin: 5px 0; padding: 5px; }
.webr-maintextitem-title { float: left; font-size: 16px; font-weight: bold; }
.webr-maintextitem-date { float: right; font-size: 14px; margin-top: 2px; }
.webr-maintextitem-body { padding: 2px 7px 4px; }
.webr-paragraph { margin: 6px 0; line-height: 1.4; }
.webr-paragraph img { max-width: 100% }

.webr-articlelist { flex: 0 0.4 220px; padding: 8px 14px 8px 8px; position: relative; overflow: hidden }
.webr-articlelist table { width: 100%; border-collapse: collapse; }
.webr-articlelisttable { padding: 8px; width: 100%; }
.webr-articleitem { cursor: pointer; width: 100%; }
.webr-articleitem td { padding: 5px }
.webr-articleitem-unread { font-weight: bold; }
.webr-articleitem-title { width: 50%; }
.webr-articleitem-date { width: 25%; }

.webr-overlay { display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.4); z-index: 10000; }
.webr-ovd-container { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }
.webr-ovd { z-index: 10001; padding: 10px; border-radius: 5px; width: 360px; vertical-align: middle; text-align: center; }
.webr-ovd td { text-align: left }
.webr-ovdtitle { font-size: 120%; font-weight: bold; margin: 3px 0 8px 0; }
#webr-ovd-addfeed input[type='text'], #webr-ovd-settings input[type='text'], 
#webr-ovd-settings input[type='number'], #webr-ovd-settings input[type='range'], #webr-ovd-settings select { width: 200px; }
#webr-ovd-addfeed table, #webr-ovd-settings table { width: 340px; }
#webr-ovd-editfeed { width: 480px; }
#webr-ovd-editfeed input[type='text'], #webr-ovd-editfeed-select { width: 175px; }
#webr-ovd-editfeed-select { margin-right: 15px; }
#webr-ovd-editfeed-outertable { width: 460px; }
#webr-ovd-editfeed-innertable { width: 180px; }
#webr-ovd-suggest-select { width: 250px; }

.webr-notification-box { font-size: 1.05em; max-width: 50%; position: absolute; z-index: 20000; display: none; border: 1px solid #3888e2; top: 58px; left: 250px; color: #3888e2; padding: 6px 14px; }

/* Themes */
.th-light input, .th-light select { color: #222; border: 1px solid #bbb; background-color: white; }
.th-light input:hover, .th-light select:hover { color: #000; border: 1px solid #888; background-color: white; }
.th-light input:focus, .th-light select:focus { color: #000; background-color: #f6f6f6; }
.th-light button, .th-light .button { color: white; }
.th-light, .th-light .webr-ovd { background-color: white; color: black }

.th-light .webr-mainpage { border-left: 1px solid #ccc }
.th-light .webr-head-controls { border-bottom: 1px solid #ccc }
.th-light .webr-articlelist { border-top: 1px solid #ccc }
.th-light .webr-articleitem { color: #555; }
.th-light .webr-articleitem:hover { color: black; }
.th-light .webr-articleitem-unread { color: #222; }
.th-light .webr-planitem:hover, .th-light .webr-feeditem:hover, .th-light .webr-articleitem:hover { background-color: #f4f4f4; }
.th-light .webr-planitem-selected, .th-light .webr-feeditem-selected, .th-light .webr-articleitem-selected,
.th-light .webr-planitem-selected:hover, .th-light .webr-feeditem-selected:hover, 
.th-light .webr-articleitem-selected:hover { background-color: #e8e8e8; }
.th-light .webr-notification-box { -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: white;  }


.th-dark input, .th-dark select { color: #ddd; border: 1px solid #555; background-color: #555; }
.th-dark input:hover, .th-dark select:hover { color: #eee; border: 1px solid #bbb; background-color: #555; }
.th-dark input:focus, .th-dark select:focus { color: #eee; background-color: #555; }
.th-dark button, .th-dark .button { color: white; }
.th-dark, .th-dark .webr-ovd { background-color: #333; color: #ccc }

.th-dark .webr-mainpage { border-left: 1px solid #888 }
.th-dark .webr-head-controls { border-bottom: 1px solid #888 }
.th-dark .webr-articlelist { border-top: 1px solid #888 }
.th-dark .webr-articleitem { color: #999; }
.th-dark .webr-articleitem:hover { color: #bbb; }
.th-dark .webr-articleitem-unread { color: #ddd; }
.th-dark .webr-planitem:hover, .th-dark .webr-feeditem:hover, .th-dark .webr-articleitem:hover { background-color: #414141; }
.th-dark .webr-planitem-selected, .th-dark .webr-feeditem-selected, .th-dark .webr-articleitem-selected,
.th-dark .webr-planitem-selected:hover, .th-dark .webr-feeditem-selected:hover, 
.th-dark .webr-articleitem-selected:hover { background-color: #5c5c5c; }
.th-dark .webr-notification-box { -webkit-box-shadow: 0 0 10px rgba(230, 230, 230, 0.5); box-shadow: 0 0 10px rgba(230, 230, 230, 0.5); background-color: #333;  }

/* Colour Schemes */
.th-light a { color: #0056c7 }
.th-light button, .th-light .button { background-color: #0058c9 }
.th-light a:hover { color: #0e209f }
.th-light button:hover, .th-light .button:hover { background-color: #003889 }
.th-light button:focus, .th-light .button:focus { box-shadow: 0 0 5px #003889 }
.th-light .required:after { color: #003889 }
.th-light input:focus, .th-light select:focus { border-color: #003889 }
.th-light .ctbutton, .th-light .webr-head-controls { color: #07c }
.th-light .webr-maintextitem-header { border-top: 2px solid #07c; border-bottom: 2px solid #07c }
.th-light .ctbutton:hover, .th-light .webr-head-buttons .hdbutton:hover { color: #004476 }

.th-dark a { color: #209fff }
.th-dark button, .th-dark .button { background-color: #209fff }
.th-dark a:hover { color: #32bfff }
.th-dark button:hover, .th-dark .button:hover { background-color: #0f7fff }
.th-dark button:focus, .th-dark .button:focus { box-shadow: 0 0 5px #0f7fff }
.th-dark .required:after { color: #0f7fff }
.th-dark input:focus, .th-dark select:focus { border-color: #0f7fff }
.th-dark .ctbutton, .th-dark .webr-head-controls { color: #07e }
.th-dark .webr-maintextitem-header { border-top: 2px solid #07d; border-bottom: 2px solid #07d }
.th-dark .ctbutton:hover, .th-dark .webr-head-buttons .hdbutton:hover { color: #28b9ff }

/* Search box */
#webr-hdb-search-area { margin-right: -13px; }
.search-box { -webkit-transition: all 0.5s; transition: all 0.5s;
  width: 24px; height: 24px; padding: 0; border-radius: 12px;
  border: none; cursor: pointer; }
.search-box:focus, .search-box-focus { -webkit-transition: all 0.5s; transition: all 0.5s;
  outline: none; box-shadow: none; cursor: text;
  padding: 0 10px; width: 220px; border-radius: auto; background: #ebebeb; }
.search-box:not(:focus) { text-indent: -5000px; }
.search-box-focus:not(:focus) { text-indent: 0; }
.search-icon { position: relative; font-size: 0.8em; left: -26px; cursor: pointer; }

/* Loading animation */
.loading {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
}
.loading li {
  height: 0;
  position: absolute;
  top: 25%;
  left: 0;
  width: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  border: 3px solid #2b8ccd;
  border-radius: 100%;
  -webkit-transform: transformZ(0);
          transform: transformZ(0);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  background: #2b8ccd;
  -webkit-animation: LOADING 2s infinite;
          animation: LOADING 2s infinite;
}
.loading li:nth-child(1n) {
  left: -30px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading li:nth-child(2n) {
  left: 0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading li:nth-child(3n) {
  left: 30px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: white;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
}

@keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: white;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
}
